
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content div {
  padding: 20px;
}
.hero-content h1 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  color: #0b809e;
  font-family: "Dancing Script", cursive;
}
.hero-content p {
  font-family: "Montserrat", sans-serif;
  line-height: 1.75;
  font-size: 1.1rem;
}
