@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
.bucket {
  padding: 1.2rem;
  background-color: #e0e0e0;
  margin: 0.5rem;
}
.bucket-header {
  display: flex;
}
.bucket-header__heading {
  flex: 1;
  padding: 0.6rem;
  font-family: "Secular One", sans-serif;
  font-size: 1.8rem;
  text-transform:uppercase;
}
.bucket-header__edit {
  cursor: pointer;
  color: #111;
}
.single-highlight {
  display: flex;
  padding: 1rem;
  background-color: #ccffcc;
  margin: 0.5rem;
  border-radius: 5px;
  transition: 0.2s;
}
.single-highlight:hover {
  box-shadow: 0 0 5px black;
  transform: scale(1.03);
}
.single-highlight__text {
  flex: 1;
}
