.bucket {
    padding: 1.2rem;
    background-color: darkorange;
    margin: 0.5rem;
  }
  .bucket-heading {
    padding: 0.6rem;
  }
  .single-highlight {
    display: flex;
    padding: 1rem;
    background-image: url("https://img.freepik.com/free-photo/vintage-crumpled-paper-textured-background_53876-103940.jpg?t=st=1649920859~exp=1649921459~hmac=addf45c8285d16cbeedd7dda19490b9b29dfed13fe77d28bc69df94e86b731b5&w=1480");
    margin: 0.5rem;
    border-radius: 5px;
    transition: 0.2s;
  }
  .single-highlight:hover {
    box-shadow: 0 0 5px black;
    transform: scale(1.03);
  }
  .single-highlight__text {
    flex: 1;
  }
  .modal {
    border-radius: 10px;
    background-color: rebeccapurple;
  }
  